$text: #222;



// OH GOD THE HORROR
// Because sassc doesn't like a %
.menulink {
    color: $text;
    text-decoration: none;
    display: block;
    &:visited {
        color: $text;

    }
}


@import "normalize";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
// General CSS
html {
    margin: 0;
}
body {
    font-family: Freesans, Helmet, sans-serif;
    font-size: 120%;
    margin: 0 auto;
    width: 95%;

}

#topbar {
    width: 100%;
    position: fixed;
    top: 0;
    background: white;

    height: 40px;
    a {
        @extend .menulink;
        width: 40px;
        position: absolute;
        line-height: 40px;
        text-align: center;
        cursor: pointer;

    }

    p {
        padding-left: 45px;
        line-height: 40px;
        margin: 0;
    }

}

#menu {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        a {
            @extend .menulink;
            padding: 0 15px;
            line-height: 2em;
        }
    }

    &.hasJs {
        ul {
            width: 85%;
            position: fixed;
            transition: all 0.3s ease;
            left: -85%;
            top: 40px;
            background: white;
            border-right: 1px solid black;
        }

        &.present {
            ul {
                left: 0;
                transition: all 0.16s ease;
            }
        }
    }
}




#content {
    margin-top: 40px;
}





// Begin mobile

// Begin tablet up
@media only screen and (min-width: 768px) {

}
// Begin desktop up
@media only screen and (min-width: 1024px) {

}
// Begin really wide
@media only screen and (min-width: 1440px) {

}
