$text: #222;
$basesize: 16px;

@mixin basegrid( $fontsize ) {
    $units: ceil( ( $fontsize + 0.25*$basesize ) / ( 1.5*$basesize ) );
    @warn "This is fontsize: #{$fontsize}, underthing: #{0.25*$basesize}and this is unit: #{$units}";
    line-height: $units * 1.5 * $basesize;
    font-size: $fontsize;
    margin-bottom: 1.5 * $basesize;
    margin-top: ($units * 1.5 * $basesize) - 1.5*$fontsize;
}

// OH GOD THE HORROR
// Because sassc doesn't like a %
.menulink {
    color: $text;
    text-decoration: none;
    display: block;
    &:visited {
        color: $text;

    }
}


@import "normalize";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
// General CSS
html {
    margin: 0;
}
body {
    font-family: Freesans, Helmet, sans-serif;
    font-size: 120%;
    margin: 0 auto;
    width: 100%;
    padding: 0 40px;
    font-size: $basesize;
    line-height: 1.5;
}

h1 {
    @include basegrid(48px);
}

h2 {
    @include basegrid(35px);
}

p {
    @include basegrid($basesize);
}

#topbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    padding: 0;
    height: 40px;

    a {
        @extend .menulink;
        width: 40px;
        position: absolute;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    p {
        padding-left: 45px;
        line-height: 40px;
        padding-right: 70px;
        margin: 0;
        display: none;
    }

    .unread {
        position: absolute;
        width: 70px;
        display: block;
        line-height: 40px;
        padding-right: 2.5%;
        text-align: right;
        top: 0;
        right: 0;
    }

}

#menu {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        a {
            @extend .menulink;
            padding: 0 15px;
            line-height: 2em;
        }
    }

    &.hasJs {
        ul {
            width: 85%;
            position: fixed;
            transition: all 0.3s ease;
            left: -85%;
            top: 40px;
            background: white;
            border-right: 1px solid black;
        }

        &.present {
            ul {
                left: 0;
                transition: all 0.16s ease;
            }
        }
    }
}


#content {
    margin-top: 50px;
}

.article-title, .byline {
    text-align: center;
}




// Begin mobile

// Begin tablet up
@media only screen and (min-width: 768px) {
    body {
        background: red;
    }
    #topbar {
        .unread::before {
            content: 'Unreads: ';
            position: absolute;
            right: 70px;

        }
    }
}
// Begin desktop up
@media only screen and (min-width: 1024px) {
    body {
        background: green;
        max-width: 1024px;
    }
    #topbar .row {
        max-width: 1024px;
        margin: 0 auto;

    }
}
// Begin really wide
@media only screen and (min-width: 1440px) {
    body {
        background: purple;
    }
}


// Heights
@media only screen and (min-height: 650px) {
    #content {
        margin-top: 70px;
    }
}


