$text: #222;
$basesize: 16px;

@mixin basegrid( $fontsize, $border: 0px ) {
    $units: ceil( ( $fontsize + 0.25*$basesize ) / ( 1.5*$basesize ) );
    // @warn "This is fontsize: #{$fontsize}, underthing: #{0.25*$basesize}and this is unit: #{$units}";
    line-height: $units * 1.5 * $basesize;
    font-size: $fontsize;
    @if $border != 0 {
        margin-bottom: (1.5 * $basesize) - $border;
        border-bottom: $border solid black;

    } @else {
        margin-bottom: 1.5 * $basesize;

    }
    margin-top: ($units * 1.5 * $basesize) - 1.5*$fontsize;
}
@mixin contain-floats {
    &:after {
        content: '';
        clear: both;
        display: block;
    }

    _zoom: 1;
}

@mixin prettylinks() {
    color: $text;
    text-decoration: none;
    display: block;
    &:visited {
        color: $text;
        text-decoration: none;
    }
}

// OH GOD THE HORROR
// Because sassc does not like a %
.menulink {
    color: $text;
    text-decoration: none;
    display: block;
    &:visited {
        color: $text;

    }
}


@import "normalize";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,th,td {
    margin:0;
    padding:0;
}
// General CSS
html {
    margin: 0;
    height: 100%;
}
body {
    font-family: Freesans, Helmet, sans-serif;
    // font-size: 75%;
    margin: 0 auto;

    width: 100%;
    min-height: 100%;
    padding: 0 40px 40px 40px;


}

html>body {
    font-size: 16px;
}

.assistive-text {
    position: absolute;
    left: -9999px;
}

p {
    line-height: 1.5em;
    font-size:1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

h1 {
    @include basegrid(36px);
    text-align: center;
}

h2 {
    @include basegrid(30px);
}


#topbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    padding: 0;
    height: 40px;

    a {
        @extend .menulink;
        width: 40px;
        position: absolute;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
    }

    p {
        padding-left: 45px;
        line-height: 40px;
        padding-right: 70px;
        margin: 0;
        display: none;
    }

    .unread {
        position: absolute;
        width: 70px;
        display: block;
        line-height: 40px;
        padding-right: 2.5%;
        font-size: 12px;
        text-align: right;
        top: 0;
        right: 0;
    }
}

#menu {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        a {
            @extend .menulink;
            padding: 0 15px;
            line-height: 2em;
        }
    }

    &.hasJs {
        ul {
            width: 85%;
            position: fixed;
            transition: all 0.3s ease;
            left: -85%;
            top: 40px;
            background: white;
            border-right: 1px solid black;
        }

        &.present {
            ul {
                left: 0;
                transition: all 0.16s ease;
            }
        }
    }
}


#content {
    // margin-top: 10px;
    padding-top: 10px;
}

.article-title, .byline {
    text-align: center;
}

#article-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding-left: 3em;
        border-bottom: 1px solid black;
        &:last-of-type {
            border-bottom: none;
        }

        &.sel {
            > form.goto button {
                font-weight: bold;
            }
        }

        button {
            background: transparent;
            border: none;
            display: block;
            width: 100%;
            text-align: left;
            line-height: 1.5em;
            font-size:1em;
            margin-top: 1.5em;
            padding: 0;
            padding-bottom: 1em;
            margin-bottom: 0.5em;
        }
        form.goto button {
            font-style: italic;
        }
        &.unread form.goto button {
            font-style: normal;
        }
        form.article button {
            float: left;
            margin-left: -3em;
            width: auto;
            line-height: 1;
            padding: 0;
        }
        form.article.starred button {
            margin-top: -0.5em;
        }
        form.article.unread button {
            margin-top: 1em;
            margin-left: -2.8em;
        }
    }
}


#login-form {
    label, input {
        width: 90%;
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    label {
        display: block;
        margin-top: 1em;
    }
    button {
        width: 90%;
        margin: 1em auto 0;
        display: block;
    }
}


// Begin mobile

iframe, img {
    max-width: 100% !important;
    height: auto !important;
    margin: 0 auto !important;
    display: block;
}

.feedflare img {
    display: inline;
}

#feedlist {
    list-style-type: none;
    counter-reset: feedlist;
    li {
        &.sel {
            > a {
                font-weight: bold;
            }
        }
    }
    &>li {

        position: relative;
        padding-left: 60px;
        margin-bottom: 16px;
        &::before {
            content: counter(feedlist, decimal);
            counter-increment: feedlist;
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 60px;
            height: 52px;
            text-align: left;
            font-size: 48px;
            line-height: 52px;
            font-weight: bold;
            z-index: -1;
        }
        a {
            @include prettylinks;
            @include basegrid(24px);
            margin-left: -60px;
            padding-left: 60px;
            min-height: 50px;
            // border: 1px solid black;
        }

        ol {
            counter-reset: subfeedlist;
            list-style-type: none;
            li {
                position: relative;
                padding-left: 40px;
                margin-bottom: 8px;
                &::before {
                    content: counter(subfeedlist, decimal);
                    counter-increment: subfeedlist;
                    display: block;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 40px;
                    height: 24px;
                    text-align: left;
                    font-size: 18px;
                    line-height: 24px;
                    font-weight: bold;
                    z-index: -1;
                }
                a {
                    @include prettylinks;
                    @include basegrid(18px);
                    margin-left: -40px;
                    padding-left: 40px;
                    min-height: 36px;
                    margin-bottom: 12px;
                    // border: 1px solid black;
                }
            }
        }
    }
}


.goto button {
    background: transparent;
    border: none;
    padding: 0px;
    @include basegrid(20px);
    text-align: left;
}
.bold {
    font-weight: bold;
}

.filters {
    text-align: left;
    list-style-type: none;
    padding: 12px 6px;

    li {
        display: inline-block;
        margin-right: 12px;
        a {
            @include prettylinks();
        }
        &.selected a {
            font-weight: bold;
        }

    }
}


// Begin tablet up
@media only screen and (min-width: 768px) {
    body {
        // background: green;
        max-width: 688px; // 768 -80 px
    }
    #topbar {
        .unread {

            &::before {
                content: 'Unreads: ';
                position: absolute;
                right: 70px;
            }
        }
    }

    #content {
        padding-top: 50px;
        // margin-top: 50px;
    }

    #login-form {
        label, input {
            width: 50%;
        }
        button {
            width: 25%;
        }
    }

}

@media only screen and (min-width: 768px) and (min-height: 650px) {

    #content {
        margin-top: 70px;
    }
}
// Begin desktop up
@media only screen and (min-width: 1024px) {

    #topbar .row {
        max-width: 1024px;
        margin: 0 auto;

    }
}
// Begin really wide
@media only screen and (min-width: 1440px) {
    body {


    }
}

ul.status {
    @include contain-floats;

    li {
        list-style: none;
        min-width: 2em;
    }
    button {
        border: none;
        background: transparent;
        font-size: 1.5em;
        line-height: 1em;
        float: left;
    }
    &.text button {
        font-size: 1em;
        font-weight: bold;
        color: #333;
    }
}
