{% extends "cape_shell.html" %}
{% load staticfiles %}

{% block title %}{% block page-title %}SET A PAGE TITLE{% endblock %}{% endblock %}

{% block head-css %}
<link rel='stylesheet' type='text/css' href='{% static "css/base.css" %}'>
{% endblock %}

{% block body-sheath %}
<div id="offcanvas">
  <ul>
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
    <li><a href="">link</a></li>
  </ul>
</div>
<div id='content'>
  {% block content %}
  {% endblock %}
</div>
{% endblock %}

{% block javascript-libraries %}
  <script src='{% static "js/jquery.1.10.2.min.js" %}'></script>
  <script src='{% static "js/jquery.mobile.custom.min.js" %}'></script>
  <script src='{% static "js/base.js" %}'></script>

{% endblock %}
