{% extends "cape_shell.html" %}
{% load staticfiles %}

{% block title %}{% block page-title %}SET A PAGE TITLE{% endblock %}{% endblock %}

{% block head-css %}
<link rel='stylesheet' type='text/css' href='{% static "css/base.css" %}'>
{% endblock %}

{% block body-sheath %}
<div id="topbar">

  <a href="#menu">&Xi;</a>
  <p>Newsp(a|u)n</p>
  {# comment <span class="unread">887</span> #}

</div>
<div id='content'>
  {% block content %}
  {% endblock %}
</div>
<div id="menu">
  <ul>
    <li><a rel='top' href="{% url 'home' %}">Home</a></li>
    {% if base_url and base_url != request.get_full_path %}
      <li><a rel="parent" class="backone" href="{{ base_url }}">Back to Article List</a></li>
    {% endif %}
    <!-- <li><a href="">link</a></li>
    <li><a href="">link</a></li> -->
  </ul>
</div>
{% endblock %}

{% block javascript-libraries %}
  <script src='{% static "js/jquery.1.10.2.min.js" %}'></script>
  <script src='{% static "js/jquery.mobile.custom.min.js" %}'></script>
  <script src='{% static "js/base.js" %}'></script>

{% endblock %}
