{% extends "base.html" %}

{% block page-title %}Login{% endblock %}

{% block content %}
  <h1>Login</h1>
  <form id='login-form' method='POST' action=''>
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.username.label_tag }}
    {{ form.username }}
    {{ form.username.errors }}
    {{ form.password.label_tag }}
    {{ form.password }}
    {{ form.password.errors }}
    <input type='hidden' name='next' value='{{ next }}'>
    <button type='submit'>Login</button>
  </form>
{% endblock %}
