{% extends "base.html" %}

{% block page-title %}{{ article.title }}{% endblock %}

{% block content %}
<h1 class="article-title"><a class='original-link' target='_blank' href='{{ article.link }}'>{{ article.title }}</a></h1>

{% if article.authors|length %}
<p class='byline'>by
{% for author in article.authors %}
{% if author.href %}{% if not forloop.first %}{% if forloop.last %}and{% else %},{% endif %} {% endif %}<a href='{{ author.href }}'>{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}
{% endfor %}
</p>
{% endif %}

<h2 class='assistive-text'>Article status</h2>
<ul id='status' class='status'>
  <li>{% include "feeds/_article_unread_button.html" %}</li>
  <li>{% include "feeds/_article_starred_button.html" %}</li>
</ul>

{% with body=article.body %}
<div class='body' lang='{{ body.language }}'>{{ body.value }}</div>
{% endwith %}

{% if next_article %}
<p class="bold">Read this next:</p>
<!-- {{ next_article.title }} {{ base_url }}article/{{ next_article.pk }}/ -->
{% with article=next_article %}
{% include "feeds/_article_mark_read_and_goto.html" %}
{% endwith %}
{% endif %}
{% endblock %}
