{% extends "base.html" %}

{% block page-title %}{{ article.title }}{% endblock %}

{% block content %}
<h1 class="article-title">{{ article.title }}</h1>

{% if article.authors|length %}
<p class='byline'>by
{% for author in article.authors %}
{% if author.href %}{% if not forloop.first %}{% if forloop.last %}and{% else %},{% endif %} {% endif %}<a href='{{ author.href }}'>{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}
{% endfor %}
</p>
{% endif %}

<ul>
  <li>{% if article.unread %}UNREAD{% else %}READ{% endif %} {% include "feeds/_article_unread_button.html" %}</li>
  <li>{% if article.starred %}STARRED{% else %}UNSTARRED{% endif %} {% include "feeds/_article_starred_button.html" %}</li>
</ul>

{% with body=article.body %}
<div class='body' lang='{{ body.language }}'>{{ body.value }}</div>
{% endwith %}
{% endblock %}
