{% extends "base.html" %}

{% block page-title %}Your Current Articles{% endblock %}

{% block content %}
<h1>Here are your articles for {{ feed.name }}.</h1>

{% include "feeds/_read_all_button.html" %}
{% include "feeds/_stream_filter_buttons.html" %}

<ol id="article-list">
  {% for article in object_list %}
    <li class="{% if article.unread %} unread{% endif %}{% if article.starred %} starred{% endif %}">
      {% include "feeds/_article_unread_button.html" %}
      {% include "feeds/_article_starred_button.html" %}
      {% include "feeds/_article_mark_read_and_goto.html" %}
    </li>
  {% endfor %}
</ol>
{% endblock %}
